:root {
  --background:    #010101;
  --foreground:    #ffffff;
  --primary:       #5E4AE3;
  --inversed-font: #FFFFFF;
  --input-bg:      #FFFFFF;
  --input-font:    #010400;
}

html {
  background: var(--background) url("/main-background.jpg") 50% 0 no-repeat;
}

body {
  background-color: transparent;
}
