.header {
  align-items: center;
  /* NB! 
      Explicit background for header is needed 
      because header is `sticky` so we add background
      so header wouldn't be transparent when page is
      scrolled.
  */
  /* background: var(--background); */
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: row;
  height: 114px;
  justify-content: space-between;
  padding: 0 20px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.headerNav {
  background-color: var(--menu-background);
  left: 50%;
  height: 100vh;
  position: absolute;
  top: 114px;
  transform: translateX(-50%);
  width: 360px;
}

.headerNavList {
  display: flex;
  flex-direction: column;
  gap: 64px;
  list-style: none;
  margin: 0;
  padding: 64px 0;
}

.headerNavListItem {
  list-style: none;
  margin: 0;
  padding: 0 20px;
}

.headerNavListLink {
  color: var(--menu-font);
  font-size: 32px;
  text-decoration: none;
}
